/*************
gris oscuro= #1D252C
gris claro= #626262
background gris= #1B2721
celeste= #f67280
*************/
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
}

h1 strong {
  color: #f67280;
}

h2 {
  color: #f67280;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.hero {
  padding-top: 70px;
  height: 200px;
  background-color: #6c5b7b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.about-me {
  background: #fafafa;
  padding-top: 20px;
}

.about-me-details {
  color: #000;
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
  font-style: oblique;
  border: #6c5b7b 5px double;
  border-radius: 10px;
}

.portfolio {
  background: #fafafa;
  padding: 20px 0;
}

.project {
  background: white;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.project .project-title {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}

.project .project-details {
  width: 600px;
  flex-shrink: 0;
}
.project .project-imageContainer {
  width: 600px;
  text-align: center;
}
.project .project-imageContainer .project-image {
  width: 600px;
}

.project-type,
.project-date,
.project-url,
.project-tecnologias {
  margin: 10px 0;
}

.develop {
  color: #6200ea;
}
.marketing {
  color: #c51162;
}

.project-url-a {
  color: #c06c84;
  text-decoration: none;
  border-radius: 5px;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: "Fjalla One", sans-serif;
}

.header {
  background-color: #6c5b7b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}
.header a {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
figure.logo {
  margin: 5px 0;
}

.logo .img-logo {
  border-radius: 50%;
}
.footer {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer img {
  vertical-align: middle;
}

.footer-empresa-img {
  transition: all 0.4s ease;
}

.footer-empresa-img:hover {
  transform: scale(1.2) rotate(20deg);
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 10px 30px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f4fbff;
}

.event img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: #ffffff;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #c06c84;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.course-list-title {
  margin-left: 20px;
}

.course {
  margin: 10px 30px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.course img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}

.course-detail {
  margin: 0 20px;
  margin-top: -40px;
  background-color: #f8b195;
  position: relative;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.contact {
  background: #c06c84;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
}

.social {
  margin: 0 auto;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.social-link:hover {
  transform: scale(1.5);
}

.social-link.twitter {
  background-image: url("../images/twitter.svg");
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
}

.social-link.github {
  background-image: url("../images/github.svg");
}

.social-link.instagram {
  background-image: url("../images/instagram.svg");
}

.curriculum {
  background-image: url("../images/curriculum.svg");
  display: scroll;
  position: fixed;
  bottom: 80px;
  right: 10px;
  width: 80px;
  height: 80px;
  background-size: 80px;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.curriculum:hover {
  transform: scale(1.5);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 70%;
  }

  h1 {
    font-size: 35px;
  }

  .hero {
    padding-top: 70px;
    height: 300px;
  }

  .hero-image {
    height: 300px;
    width: 500px;
  }

  .project {
    padding: 40px;
    background: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .project .project-details {
    width: 600px;
    flex-shrink: 0;
  }
  .project .project-imageContainer {
    width: 600px;
  }
  .project .project-imageContainer .project-image {
    width: 400px;
    text-align: center;
  }

  .event {
    width: 600px;
  }
  .event img {
    width: 600px;
    height: 300px;
    object-fit: cover;
  }
}
